<div class="house-list">
    <button class="btn btn-primary" @click="newHouse">Add New House</button>
    <table class="table table-striped">
        <thead>
            <th>Listing ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Listing Type</th>
            <th>Price</th>
            <th>Address</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Actions</th>
        </thead>

        <tbody>
            <tr v-for="(house, index) in houses" :key="index">
                <td>{{house.id}}</td>
                <td>{{house.title}}</td>
                <td>{{house.description}}</td>
                <td>{{house.listing_type}}</td>
                <td>{{house.price}}</td>
                <td>{{house.street + ' ' + house.city + ' ' + house.country}}</td>
                <td>{{house.beds}}</td>
                <td>{{house.bathroom}}</td>
                <td>
                    <button><router-link :to="{path : `/houses/edit/${house.id}`}">Edit</router-link></button>
                    <button @click="deleteHouse(house.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>