<div>
    <Navbar/>
    <div class="container">
        <section>
            <div class="search" id="search">
               <div class="search-address">
                    <div class="search-item">
                        <label>Country</label>
                        <input type="text" placeholder="Country"/>
                    </div>
    
                    <div class="search-item">
                        <label>Province</label>
                        <input type="text" placeholder="Province"/>
                    </div>
    
                    <div class="search-item">
                        <label>City</label>
                        <input type="text" placeholder="City"/>
                    </div>
    
                    <div class="search-item">
                        <label>Listing Type</label>
                        <select>
                            <option>HOUSE AND LOT</option>
                            <option>CONDIMINIUM</option>
                            <option>LAND</option>
                            <option>LOT</option>
                        </select>
                    </div>
               </div>
    
                <div class="search-price">
                    <div class="search-item">
                        <label>Price Range</label>
                        <div class="price-range">
                            <div style="margin-right: 3%;">
                                <input type="text" placeholder="Minimum" />
                            </div>
                            <div>
                                <p>to</p>
                            </div>
                            <div  style="margin-left: 3%;">
                                <input type="text" placeholder="Maximum"/>
                            </div>
                        </div>
                    </div>
        
                </div>
                <div class="search-item">
                    <button class="search-btn" @click="search">SEARCH</button>
                </div>
            </div>
        </section>
    
        <section class="content">
             <h1 class="content-title" v-if="houseAndLot.length">HOUSE AND LOT</h1>
             <div class="house-lot-content" >
                <div class="house-item" v-for="(house,index) in houseAndLot" :key="index" @click="showHouse(house.id)" v-if="house.listing_type == 'House and Lot'">
                    <div class="body">
                        <template v-if="house.images.length">
                             <img :src="'/../storage/' + house.images[0].path" class="image card-img-top"/>
                        </template>
                        <template v-else>
                            NO IMAGE AVAILABLE
                        </template>
                        <h1>₱ {{new Intl.NumberFormat().format(house.price)}}</h1>
                    </div>
                    <div class="footer">
                        <div class="footer-details">
                            <label>BEDS {{house.beds}}</label>
                            <label>BATHROOM {{house.bathroom}}</label>
                            <label>LOT AREA {{house.lot_area}} sqft</label>
                        </div>
                        <div class="footer-address">
                            <p>{{house.street}}</p>
                        </div>
                    </div>
                </div>
             </div>
    
        </section>
    
        <section class="content">
            <h1 class="content-title" v-if="condominium.length">CONDOMINIUM</h1>
    
            <div class="house-lot-content" >
               <div class="house-item" v-for="(house,index) in condominium" :key="index" v-if="house.listing_type == 'Condominium'">
                   <div class="body">
                       <template v-if="house.images.length">
                            <img :src="'/../storage/' + house.images[0].path" class="image  card-img-top"/>
                       </template>
                       <template v-else>
                           NO IMAGE AVAILABLE
                       </template>
                       <h1>₱ {{new Intl.NumberFormat().format(house.price)}}</h1>
                   </div>
                   <div class="footer">
                       <div class="footer-details">
                           <label>BEDS {{house.beds}}</label>
                           <label>BATHROOM {{house.bathroom}}</label>
                           <label>LOT AREA {{house.lot_area}} sqft</label>
                       </div>
                       <div class="footer-address">
                           <p>{{house.street}}</p>
                       </div>
                   </div>
               </div>
            </div>
    
       </section>
    
       <section class="content">
            <h1 class="content-title" v-if="lot.length">LOT</h1>
            <div class="house-lot-content" >
            <div class="house-item" v-for="(house,index) in houses" :key="index" v-if="house.listing_type == 'Lot'">
                <div class="body">
                    <template v-if="house.images.length">
                            <img :src="'/../storage/' + house.images[0].path" class="image  card-img-top"/>
                    </template>
                    <template v-else>
                        NO IMAGE AVAILABLE
                    </template>
                    <h1>₱ {{new Intl.NumberFormat().format(house.price)}}</h1>
                </div>
                <div class="footer">
                    <div class="footer-details">
                        <label>BEDS {{house.beds}}</label>
                        <label>BATHROOM {{house.bathroom}}</label>
                        <label>LOT AREA {{house.lot_area}} sqft</label>
                    </div>
                    <div class="footer-address">
                        <p>{{house.street}}</p>
                    </div>
                </div>
            </div>
            </div>
    
        </section>
    
        <section class="content">
            <h1 class="content-title" v-if="land.length">LAND</h1>
            <div class="house-lot-content" >
            <div class="house-item" v-for="(house,index) in houses" :key="index" v-if="house.listing_type == 'Land'">
                <div class="body">
                    <template v-if="house.images.length">
                            <img :src="'/../storage/' + house.images[0].path" class="image  card-img-top"/>
                    </template>
                    <template v-else>
                        NO IMAGE AVAILABLE
                    </template>
                    <h1>₱ {{new Intl.NumberFormat().format(house.price)}}</h1>
                </div>
                <div class="footer">
                    <div class="footer-details">
                        <label>BEDS {{house.beds}}</label>
                        <label>BATHROOM {{house.bathroom}}</label>
                        <label>LOT AREA {{house.lot_area}} sqft</label>
                    </div>
                    <div class="footer-address">
                        <p>{{house.street}}</p>
                    </div>
                </div>
            </div>
            </div>
    
        </section>
    </div>

    <Footer/>
</div>